// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
 	transition: color .6s, background-color .6s;
  margin:0;
  padding:0;
  line-height: 1.5;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border: 3px solid var(--scrollbar-bg-color);
}

a:not(.button) {
	color: var(--link-color);
 	transition: opacity .2s;
	&:hover {
		opacity: .8;
	}
}

img {
	max-width: 100%;
}
