// Used to wrap content inside a nice box.
.content-box {
	background-color: var(--bg-content-color);
	max-width: var(--content-width);
	margin: 0 auto;
	transition: background-color .6s;
	padding: var(--space);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,.2);
  transition: transform .3s, background-color .3s, box-shadow .3s;
}
