---
---

@import "minima";

$background-color: white;

$nav-width: 300px !default;

$nav-bg-color: #48484A;
$nav-text-color: #f4f4f4;

$main-color: #7DA2A9;

body {  
    color: #333;
    background: white;
    flex-direction: row;
}

a, a:visited {
    color: $main-color;
}

.header-column {
    background: $nav-bg-color;
    border-right: 2px solid darken($nav-bg-color, 7%);
    width: $nav-width;
    display: flex;
}

.site-header {
    border: none; 
    align-self: flex-end;
    width: 100%;
}

.site-header .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 30px 0 0;
    text-align: right;
}

.site-title, .site-title:visited {
    color: $nav-text-color;
}

.site-description {
    font-style: italic;
    color: lighten($nav-bg-color, 25%);
}

.site-nav ul {
    list-style-type: none;
}

.site-nav .page-link {
    color: $nav-text-color;
}

.content-column {
    border-left: 1px solid white;
}

pre, code {
    background: #fafafa;
}