<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{! <link rel="icon" href="/favicon.ico" /> }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - {{page.meta.title}}</title>
  </head>
  <body>
    <h1>{{page.meta.title}}</h1>
    <article>{{{page.contents}}}</article>
  </body>
</html>