<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{! <link rel="icon" href="/favicon.ico" /> }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - {{page.meta.title}}</title>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        type="text/css"
        href="https://fonts.googleapis.com/css?family=Raleway:300,400,600"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap"
      />
    </noscript>
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/highlight.css" />
  </head>
  <body>
    <main class="container">
      <h1>{{page.meta.title}}</h1>
      <article>{{{page.contents}}}</article>
    </main>
  </body>
</html>